body {
    font-size: 10px;
    font-family: Roboto, sans-serif;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.main {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #2B2B2B;
    margin: 28px;
    font-size: 45px;
    text-transform: uppercase;
}

body {
    font-size: 10px;
    font-family: Roboto, sans-serif;
    margin: 0;
    display: grid;
    height: 100vh;
    place-items: center;
}


input {
    width: 300px;
    height: 40px;
    background: white;
    margin: 15px;
    border: 1px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0px 10px;
}

button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px;
    cursor: pointer;
    outline: none;

}

.btn-grad {
    margin: 10px;
    padding: 5px 5px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #2B2B2B;
    border: none;
    box-shadow: 0 0 2px whitesmoke;
    border-radius: 5px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: gray;
    text-decoration: none;

}

.img {
    margin: 20px auto;

}
